<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>青松土豆</title>
</head>
<body>
  <div id="pinetodo">
    <div class="container">
      <div class="content">
        <div class="box-wrap">
          <div id="workspace" class="box">
            <div class="box-header">
              <!-- <div class="timer">
                <div class="process"></div>
                <p class="time">10:10</p>
                <span class="close">×</span>
              </div> -->
              <!-- <div class="result">
                <textarea class="result-textarea" style="resize: vertical;"></textarea>
                <div class="result-submit">
                  <object class="icon icon-enter">
                    <svg viewBox="0 0 28 28" id="icon-enter">
                      <title>enter</title>
                      <path d="M19.2 4v14.4H8v-4.8l-8 7.2L8 28v-4.8h16V4z" fill-rule="evenodd"></path>
                    </svg>
                  </object>
                </div>
                <span class="close">×</span>
              </div> -->
              <div class="start">
                <button class="start-btn">轻松开始</button>
              </div>
            </div>
            <div class="box-main">
              
            </div>
          </div>
        </div>
        <div class="box-wrap">
          <div id="todolist" class="box">
            <div class="box-header">
              <input type="text" class="todolist-input" v-model="newTodo"/>
              <div class="result-submit" @click="create">
                <object class="icon icon-enter">
                  <svg viewBox="0 0 28 28" id="icon-enter">
                    <title>enter</title>
                    <path d="M19.2 4v14.4H8v-4.8l-8 7.2L8 28v-4.8h16V4z" fill-rule="evenodd"></path>
                  </svg>
                </object>
              </div>
            </div>
            <div class="box-main">
              <ul>
                <li
                  v-for="(todo, index) in todos"
                  :key="todo.key"
                >
                  <span @click="done(index)">{{ todo.value }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
