<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>青松土豆</title>
</head>
<body>
  <div id="root">
    <div>
      <div>
        <input v-model="newTodo"/>
        <button @click="create">OK</button>
      </div>
      <div>
        <ul>
          <li
            v-for="(todo, index) in todos"
            :key="todo.key"
          >
            <span @click="done(index)">{{ todo.value }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
